<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="github-xyrces" value="https://nuget.pkg.github.com/Xyrces/index.json" protocolVersion="3" />
  </packageSources>
  <packageSourceCredentials>
    <github-xyrces>
      <add key="Username" value="%GITHUB_PACKAGES_USER%" />
      <add key="ClearTextPassword" value="%GITHUB_PACKAGES_PAT%" />
    </github-xyrces>
  </packageSourceCredentials>
</configuration>
